*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hero{
 max-height: 100vh;
}
.top-banner{
  background-color: rgb(16, 49, 149);
  color: white;
  padding: 0.8rem;
  text-align: center;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;

  p{
    color: white;
  }
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: sticky;
  width: 100%;
  top: -0;
  z-index: 2;
  background-color: white;
}
.logo img{
  height: 40px;
}
.nav-left{

  display: flex;
  gap: 1rem;

  i{
    font-size: 1.3rem;
  }
}
/*.main-banner{
  width: 100%;
  height: 75vh;
  background-image: url(pony-images/WEB-BANNER_1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  justify-content: center;
  animation: change 10s infinite ease-in-out ;
}
@keyframes change{

50%{
    background-image: url(pony-images/MAX-EFFORT-WEB-BANNER3.webp);

  }
  100%{
    background-image: url(pony-images/M-PRO-WEB-BANNER2.webp);
  }
}
.content{
  position: absolute;
  color: white;
  top: 55%;
  left: 10%;
  }
  h4{
    font-size: 2.2rem;
    text-align: justify;
    letter-spacing: -1px;
     line-height: 1.2;
  }

  span{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    text-align: left;
  }

  button{
    border: 1.5px solid white;
    width: 110px;
    height: 50px;
    background-color: transparent;
    margin-top: 1rem;
    color: white;
    cursor: pointer;
  }
  button:hover{
    background-color: rgb(16, 49, 149);
  }*/


.slider{
  display: block;
  width: 100%;
  height: 75vh;
  overflow: hidden;
  position: relative;
  background-image: url(pony-images/first.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 3.5rem;
}

.slider > *{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  animation: slide 12s infinite;
  overflow: hidden;
  background: #f1f1ff;
}
.slide:nth-child(1){
  left: 0%;
  animation-delay: -1s;
  background-image: url(pony-images/M-PRO-WEB-BANNER2.webp);
  background-size: cover;
  background-position: center;
}
.slide:nth-child(2){
  animation-delay: 2s;
  background-image: url(pony-images/WEB-BANNER_1.webp);
  background-size: cover;
  background-position: center;
}
.slide:nth-child(3){
  left: 0%;
  animation-delay: 8s;
  background-image: url(pony-images/MAX-EFFORT-WEB-BANNER3.webp);
  background-size: cover;
  background-position: center;
}
@keyframes slide{
  0%{
    left: 100%; width: 100%;
  }
  5%{
    left: 0%;
  }
  25%{
    left: 0%;
  }
  30%{
    left: -100%; width: 100%;
  }
  30.0001%{
    left: -100%; width: 0%;
  }
  100%{
    left: 100%; width: 0%;
  }
}
.slider p{
  position: absolute;
  top: 50%;
  left: 10%;
  font-size: 40px;
  display: block;
  line-height: 1;
  font-weight: 800;
}
.change{
  color: white;
}
.slide button{
  border: 1.2px solid white;
  width: 120px;
  height: 50px;
  border-radius: 0.2rem;
  background-color: transparent;
  color: white;
  font-weight: 800;
  transform: scale(1) (all 2s);
}
.slide button:hover{
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  transition: 1s ease-out;
}
.product-display{
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  padding: 1.5rem;
  overflow: hidden;
  margin: 1.5rem 0;
}
.product-display .board{
  flex: 0 0 95%;
  /*height: 18rem;*/
  background-color: black;
  position: relative;
}
.board img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}
.board .button-box{
  position: absolute;
  top: 65%;
  left: 10%;
  border: none;
  /*padding: 1.2rem;*/
  font-weight: 600;
  cursor: pointer;
  width: 150px;
  height: 60px;
  button{
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.mini-headers{
  padding: 1.4rem 2rem;
  background-color: transparent;
  margin: 1.2rem 0;

  h3{
    font-size: clamp(1.5rem, 2vw, 3.9rem);
    letter-spacing: -1px;
    margin-bottom: 0.5rem;
    font-weight: 800;
    color: black;
  }

  li{
    list-style: none;
    font-size: clamp(0.8rem, 1.3vw, 2rem);
    text-transform: uppercase;
  }
}
.head-links ul li{
  display: inline-block;
  color: gray;
  word-spacing: 1px;
  cursor: pointer;

}
li:hover{
  text-decoration: underline;
  text-underline-offset: 15px;
}
.mini-headers .pals{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.7rem;
  margin-top: 0.9rem;

  li{
    color: gray;
    word-spacing: 1px;
    text-transform: uppercase;
    font-size: clamp(0.8rem, 1.3vw, 2rem);
    cursor: pointer;
  }
li:hover{
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 1px;
}
}
.slide-show{
  background-color: cyan;
  /*height: 450px;
  max-height: 700px;*/
  padding: 0 1rem;
  position: relative;
  width: 100%;

}
.head-elements{
  background-color: bisque;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
p{
  color: rgb(68, 68, 68);
  font-size: clamp(1rem, 1vw, 1rem);
}
.product-swipe{
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 90, 93);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  overscroll-behavior-inline: contain;
  gap: 0.7rem;
  margin-top: 2rem;
}
.product-swipe > *{
  background-color: grey;
  flex: 0 0 40%;
}

.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  padding: 0 2rem;
}
.product-slider {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 0.8rem;
  padding: 1rem 1.5rem 1rem 2rem;
  margin: 1.5rem 0;
}

/*.product-slider{
  background-color: aqua;
  position: relative;
  scrollbar-width: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  overscroll-behavior-inline: contain;
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 0.5rem;
  overflow: hidden;
}*/

.product-card{
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 0 0 21%;
  /*max-width: 250px;*/
  scroll-snap-align: center;
  gap: 0.5rem;
}

.product-image{
  height: 55%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.quick-bar{
  position: absolute;
  bottom: -20%;
  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 50px;
  max-height: 80px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hover-container{
  position: absolute;
  top: 0;
  visibility: hidden;
}
.product-image:hover .hover-container{
  visibility: visible;
  filter: brightness(0.98);
  transform: scale(1.02);
  transition: all 2s ease;
}
.product-image:hover .quick-bar{
  bottom: 0;
  transition: all 0.5s ease;
}
.product-tittle{
  p{
    font-size: clamp(1rem, 1vw, 1rem);
  }
}
.video-container{

  width: 100%;
  height: auto;
}
.text-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 900px;
  padding: 0.5rem;
  text-align: center;
  margin: 0 auto;
}

.head{
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  h3{
    font-size: clamp(1.5rem, 2vw, 3.9rem);
    letter-spacing: 1px;
    font-weight: 800;
    color: black;
  }
  ::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 110px;
    height: 4px;
    bottom: 0;
  }
}
.paragraph{
  
  margin: 1rem 0;
  p{
    color: rgb(68, 68, 68);
    font-size: clamp(0.95rem, 1vw, 1rem);
    word-spacing: 0.5px;
    line-height: 21px;
  }
}
.word-speeding{
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}
.words{

    animation: words 25s linear infinite 1ms;
    pre{
    font-size: 3.5rem;
      font-weight: 600;
      letter-spacing: -2px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  }

  @keyframes words{
    0%{
      transform: translateX(100%);
    }
    
    100%{
      transform: translateX(-160%);
    }
  }

  .last-banner{
    width: 100%;
    height: auto;

    .content{
      width: 250px;
      max-width: 350px;
      height: auto;
      margin: 0 auto;
      text-align: center;

      h3{
      font-size: clamp(1.5rem, 2vw, 3.9rem);
      letter-spacing: 1px;
      font-weight: 800;
      color: black;
      }
      .link{
        margin: 1.2rem 0 0 0;
      }
    }
  }
  .adverts{
  width: 100%;
  min-height: 300px;
  max-height: 700px;
  margin: 1rem 0;

}
/*.cards-container{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-color: rgb(3, 101, 101);
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  gap: 0.5rem;
}*/
.card-board{
  display: flex;
  flex: 0 0 40%;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  max-width: 450px;
}
.card-image{
  background-color: blue;
  width: 100%;
  /*height: 400px;
  min-height: 400px;*/
  height: 100%;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card-tittle{
  h6{
    font-size: clamp(1.8rem, 1vw, 2.5rem);
  }
}
  .footer-banner{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    padding: 1rem;

    .socials{
      width: 200px;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      margin-top: 2rem;
      .icons{
        display: flex;
        gap: 3rem;
        font-size: clamp(1rem, 2vw, 2rem);
      }
    }
  }

  .footmenu{
    height: 200px;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
 .footmenu > *{
  flex: 0 0 30%;
  border-top: 1px solid rgb(155, 155, 155);
  color: rgb(255, 255, 255);

 }
 .items{
  display: flex;
  flex: 0 0 30%;
  justify-content: space-between;
  align-items: center;

  h6{
   font-size: clamp(1.2rem, 1.5vw, 3rem); 
  }
  i{
    color: rgb(155, 155, 155);
  }
 }
 .footer-newsletter{

  display: flex;
  flex-direction: column;
  gap: 1rem;

  p{
    color: white;
  }
 }
 .mail-box{
  position: relative;
  height: 45px;
  border: 1px solid  rgb(155, 155, 155);

  input{
    border: none;
    width: 100%;
    height: 100%;
    padding: 0 0.8rem;
    background-color: transparent;
    color: white;
    outline: none;
  }

  i{
    position: absolute;
    right: 10%;
    top: 30%;
  }
 }
::placeholder{
      color: white;
    }

  .sponsors-logos{
    display: flex;
    margin: 4rem 0;
  }
  .logos-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.2rem;
  }
  .item1{
    flex: 0 0 60px;
    height: 35px;

    border-radius: 20%;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .copyright{
    margin: 0 auto;
   
   p{
    color: white;
   } 
  }
  li{
  list-style-type: none;
}
/*small screen*/
@media (max-width: 767px){
    .foot-item1, .foot-item2, .foot-item3{
    display: none;
  }
  .cards-container{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  gap: 0.5rem;
}
  .card-board{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .card-image{
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
  .logos-container .item1{
    flex: 0 0 40px;
    height: 25px;
    background-color: bisque;
  }
  .product-display .board{
  flex: 0 0 100%;
  }
  .board img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top;
}
.mini-headers .pals li{
  flex: 0 0 100%;
}
.head{
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.product-swipe .product-card{
  background-color: grey;
  flex: 0 0 50%;

  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  }
}
.product-card{
    flex: 0 0 50%;
}
.banner-card{
  flex: 0 0 90%;
}

}

@media (min-width: 768px)/* and (max-width: 2560px)*/{
  .cards-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  gap: 1rem;
  justify-content: center;
}
  .product-display .board{
    flex: 0 0 45%;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
 
  max-height: 500px;
  }
  .product-display{
    padding: 2rem;
  }
 .socials{
    margin-left: 4.2rem;
  }
   footer{
    width: 100%;
    position: relative;
  }
  .footer-banner{
    width: 100%;
    background-color: aqua;
  }
  .footer-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin: 4rem auto 0 auto;
    padding: 0 4rem;

    ul{
      display: flex;
      flex-direction: column;
      gap: 1.1rem;

    }
  }
 
  .foot-item4{
    background-color: rgb(74, 74, 74);
    /*max-width: 400px;*/
    display: flex;
    flex-direction: column;
  }
  .footmenu{
    display: none;
  }
}
@media (min-width: 1024px){
  button{
    position: relative;
    background-color: blue;
    color: white;
    z-index: 1;

  }
  button::after{
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    height: 100%;
    width: 0px;
    z-index: -1;
    transition: 150ms ease-in-out;
    color: black;
    
  }
  button:hover::after{
    width: 100%;
    color: rgb(25, 25, 25);
  }
  button:hover{
    color: rgb(25, 25, 25);
  }
  .mini-headers{
    padding-left: 4rem;
  }
  .product-swipe .product-card{
  background-color: grey;
  flex: 0 0 20px;
  }
  .socials{
    margin-left: 4.2rem;
  }
  .footer-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    margin: 4rem auto 0 auto;
    padding: 0 4rem;

    ul{
      display: flex;
      flex-direction: column;
      gap: 1.1rem;

    }
  }
  .foot-item4{
    background-color: rgb(74, 74, 74);
    max-width: 400px;
    display: flex;
    flex-direction: column;

  }
  .footmenu{
    display: none;
  }
}

